[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.5"


[packages]

django = "*"
djangorestframework = "*"
"django-constance" = {extras = ["database"]}
"djangorestframework-camel-case" = "*"
"djangorestframework-gis" = "*"
"django-shib-auth" = {git = "https://github.com/ritstudentgovernment/django-shib-auth.git"}
"djangorestframework-jwt" = "*"
channels = "*"
"channels-redis" = "*"
redis = "*"


[dev-packages]