<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<style>
		.errorlist {
			color: red;
		}
		</style>
	</head>
	<body style="margin: auto; text-align:center;">
		<h2>Placeholder {% block heading %} {% endblock %} </h2>
		<p>You're seeing this page because you do not have Shib support enabled. :(</p>
		<p>If you did, you'd see {% block seewhat %}{% endblock %} here instead.</p>
		<p>So I guess for now, just imagine it?</p>
		{% block content %}{% endblock %}
		<br/>
		<br/>
		<p>Oh, here's a kitty to cheer you up:</p>
		<img src="http://thecatapi.com/api/images/get?format=src&type=gif">
	</body>
</html>